@mixin coverimage($location) {
    background-image: linear-gradient(
        to top,
        rgba(0,40,75,0.2),
        rgba(0,0,0,0.5),
    ),
    url($location);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}