@import "mixins";
@import "btn";

html{
    height: 100vh;
    @include coverimage('https://github.com/smkatale/sass_code/blob/main/images/coffee.jpg');
}

body
{
    h1{
        color: #CAD5E2;
        text-align: center;
        margin-top: 150px;
        font-size: 3rem;
    }

    p{
        color: #CAD5E2;
        text-align: center;
        font-size: 2rem;
    }
}

.container{
    text-align: center;
}

.btn-types{
    @extend %btn;
    background-color: #FF6666;
    color: black;
    font-weight: 600;
}

.btn-order{
    @extend %btn;
    background-color: #F4CE6A;
    color: black;
    font-weight: 600;
}
